* {
  background-color: #eaced9;
  font-family: 'Bebas Neue', sans-serif;
  font-family: 'Dela Gothic One', cursive;
  color: red;
  margin: 0;
  padding: 0;

}


body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: 4em;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* FOOTER */

footer {
  background-color: red;
  padding: 2px 0;
  flex-shrink: 0;
  position: relative;
  /* margin-bottom: auto !important; */
  /* width: 100%; */
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100px; */
    
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.columns div {
  flex: 1;
  text-align: center;
  padding: 4em;
}